.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.checkbox {
  width: 100%;
  height: 100%;
  padding: 0 @margin-lg;

  &:not(:last-child) {
    margin-bottom: @margin-xl;
  }
}

.checkbox > label {
  display: flex;
  align-items: center;

  a {
    margin: 0 @margin-xs;
  }

  input {
    margin-right: @margin-checkbox;
  }
}
